.pokemon-page {
    padding-top: 70px;
    background-color: #d5f4e6;
}

.pokemons-page-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.search-pokemon {
    margin: 10px;
    width: 250px;
    border-color: #78c2ad;
}


.pokemon-details .card-body {
    padding-bottom: 10px;
    overflow-y: scroll;
}

.card-ditails {
    margin-left: 130px;
}

.pokemon-page-dark {
    background-color: rgb(41, 70, 139)
}

.search-pokemon-dark {
    background-color: rgb(194, 194, 194);
    border-color: rgb(57, 54, 54) !important;
}